/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Lora);
@font-face {
  font-family: 'Muller Bold';
  src: url("../fonts/MullerBold.eot");
  src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.ttf") format("truetype"), url("../fonts/MullerBold.svg#MullerBold") format("svg"), url("../fonts/MullerBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Muller Medium';
  src: url("../fonts/MullerMedium.eot");
  src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.ttf") format("truetype"), url("../fonts/MullerMedium.svg#MullerMedium") format("svg"), url("../fonts/MullerMedium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Muller Regular Italic';
  src: url("../fonts/MullerRegularItalic.eot");
  src: url("../fonts/MullerRegularItalic.woff2") format("woff2"), url("../fonts/MullerRegularItalic.woff") format("woff"), url("../fonts/MullerRegularItalic.ttf") format("truetype"), url("../fonts/MullerRegularItalic.svg#MullerRegularItalic") format("svg"), url("../fonts/MullerRegularItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Muller Light';
  src: url("../fonts/MullerLight.eot");
  src: url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff"), url("../fonts/MullerLight.ttf") format("truetype"), url("../fonts/MullerLight.svg#MullerLight") format("svg"), url("../fonts/MullerLight.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Muller Regular';
  src: url("../fonts/MullerRegular.eot");
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype"), url("../fonts/MullerRegular.svg#MullerRegular") format("svg"), url("../fonts/MullerRegular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Muller Black';
  src: url("../fonts/MullerBlack.eot");
  src: url("../fonts/MullerBlack.woff2") format("woff2"), url("../fonts/MullerBlack.woff") format("woff"), url("../fonts/MullerBlack.ttf") format("truetype"), url("../fonts/MullerBlack.svg#MullerBlack") format("svg"), url("../fonts/MullerBlack.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'meb96';
  src: url("../fonts/meb96.eot?ph4iar");
  src: url("../fonts/meb96.eot?ph4iar#iefix") format("embedded-opentype"), url("../fonts/meb96.ttf?ph4iar") format("truetype"), url("../fonts/meb96.woff?ph4iar") format("woff"), url("../fonts/meb96.svg?ph4iar#meb96") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'meb96' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before {
  content: "\e900"; }

.icon-insta:before {
  content: "\e901"; }

.icon-vk:before {
  content: "\e902"; }

.icon-cargo:before {
  content: url("../img/cargo.svg"); }

.icon-star-o:before {
  content: url("../img/star-o.svg"); }

.icon-percent-o:before {
  content: url("../img/percent-o.svg"); }

.reason .uk-container:after, .footer:after, .header:after, .uk-container:after, .promo_total:after, .delivery__row:after, .reason__item:after {
  content: '';
  display: table;
  clear: both; }

.reason .uk-container:before, .footer:before {
  content: '';
  display: table;
  clear: both; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font: 18px "Muller Regular";
  line-height: 1.2;
  overflow: inherit;
  color: #000000; }

b, strong {
  font-family: "Muller Bold"; }

.uk-form input:not([type]),
.uk-form input[type=text],
.uk-form input[type=password],
.uk-form input[type=email],
.uk-form input[type=url],
.uk-form input[type=search],
.uk-form input[type=tel],
.uk-form input[type=number],
.uk-form input[type=datetime],
.uk-form textarea {
  height: auto;
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 15px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  font-family: "Muller Regular";
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .uk-form input:not([type]):focus,
  .uk-form input[type=text]:focus,
  .uk-form input[type=password]:focus,
  .uk-form input[type=email]:focus,
  .uk-form input[type=url]:focus,
  .uk-form input[type=search]:focus,
  .uk-form input[type=tel]:focus,
  .uk-form input[type=number]:focus,
  .uk-form input[type=datetime]:focus,
  .uk-form textarea:focus {
    border: 1px solid #bebebe;
    background-color: #f6f6f6; }
    .uk-form input:not([type]):focus::-webkit-input-placeholder,
    .uk-form input[type=text]:focus::-webkit-input-placeholder,
    .uk-form input[type=password]:focus::-webkit-input-placeholder,
    .uk-form input[type=email]:focus::-webkit-input-placeholder,
    .uk-form input[type=url]:focus::-webkit-input-placeholder,
    .uk-form input[type=search]:focus::-webkit-input-placeholder,
    .uk-form input[type=tel]:focus::-webkit-input-placeholder,
    .uk-form input[type=number]:focus::-webkit-input-placeholder,
    .uk-form input[type=datetime]:focus::-webkit-input-placeholder,
    .uk-form textarea:focus::-webkit-input-placeholder {
      color: red; }
    .uk-form input:not([type]):focus:-moz-placeholder,
    .uk-form input[type=text]:focus:-moz-placeholder,
    .uk-form input[type=password]:focus:-moz-placeholder,
    .uk-form input[type=email]:focus:-moz-placeholder,
    .uk-form input[type=url]:focus:-moz-placeholder,
    .uk-form input[type=search]:focus:-moz-placeholder,
    .uk-form input[type=tel]:focus:-moz-placeholder,
    .uk-form input[type=number]:focus:-moz-placeholder,
    .uk-form input[type=datetime]:focus:-moz-placeholder,
    .uk-form textarea:focus:-moz-placeholder {
      color: red; }
    .uk-form input:not([type]):focus::-moz-placeholder,
    .uk-form input[type=text]:focus::-moz-placeholder,
    .uk-form input[type=password]:focus::-moz-placeholder,
    .uk-form input[type=email]:focus::-moz-placeholder,
    .uk-form input[type=url]:focus::-moz-placeholder,
    .uk-form input[type=search]:focus::-moz-placeholder,
    .uk-form input[type=tel]:focus::-moz-placeholder,
    .uk-form input[type=number]:focus::-moz-placeholder,
    .uk-form input[type=datetime]:focus::-moz-placeholder,
    .uk-form textarea:focus::-moz-placeholder {
      color: red; }
    .uk-form input:not([type]):focus:-ms-input-placeholder,
    .uk-form input[type=text]:focus:-ms-input-placeholder,
    .uk-form input[type=password]:focus:-ms-input-placeholder,
    .uk-form input[type=email]:focus:-ms-input-placeholder,
    .uk-form input[type=url]:focus:-ms-input-placeholder,
    .uk-form input[type=search]:focus:-ms-input-placeholder,
    .uk-form input[type=tel]:focus:-ms-input-placeholder,
    .uk-form input[type=number]:focus:-ms-input-placeholder,
    .uk-form input[type=datetime]:focus:-ms-input-placeholder,
    .uk-form textarea:focus:-ms-input-placeholder {
      color: red; }
  .uk-form input:not([type]).input_error,
  .uk-form input[type=text].input_error,
  .uk-form input[type=password].input_error,
  .uk-form input[type=email].input_error,
  .uk-form input[type=url].input_error,
  .uk-form input[type=search].input_error,
  .uk-form input[type=tel].input_error,
  .uk-form input[type=number].input_error,
  .uk-form input[type=datetime].input_error,
  .uk-form textarea.input_error {
    background-color: #fff0f0;
    border: 1px solid red; }
  .uk-form input:not([type])::-webkit-input-placeholder,
  .uk-form input[type=text]::-webkit-input-placeholder,
  .uk-form input[type=password]::-webkit-input-placeholder,
  .uk-form input[type=email]::-webkit-input-placeholder,
  .uk-form input[type=url]::-webkit-input-placeholder,
  .uk-form input[type=search]::-webkit-input-placeholder,
  .uk-form input[type=tel]::-webkit-input-placeholder,
  .uk-form input[type=number]::-webkit-input-placeholder,
  .uk-form input[type=datetime]::-webkit-input-placeholder,
  .uk-form textarea::-webkit-input-placeholder {
    color: #b3b3b3; }
  .uk-form input:not([type]):-moz-placeholder,
  .uk-form input[type=text]:-moz-placeholder,
  .uk-form input[type=password]:-moz-placeholder,
  .uk-form input[type=email]:-moz-placeholder,
  .uk-form input[type=url]:-moz-placeholder,
  .uk-form input[type=search]:-moz-placeholder,
  .uk-form input[type=tel]:-moz-placeholder,
  .uk-form input[type=number]:-moz-placeholder,
  .uk-form input[type=datetime]:-moz-placeholder,
  .uk-form textarea:-moz-placeholder {
    color: #b3b3b3; }
  .uk-form input:not([type])::-moz-placeholder,
  .uk-form input[type=text]::-moz-placeholder,
  .uk-form input[type=password]::-moz-placeholder,
  .uk-form input[type=email]::-moz-placeholder,
  .uk-form input[type=url]::-moz-placeholder,
  .uk-form input[type=search]::-moz-placeholder,
  .uk-form input[type=tel]::-moz-placeholder,
  .uk-form input[type=number]::-moz-placeholder,
  .uk-form input[type=datetime]::-moz-placeholder,
  .uk-form textarea::-moz-placeholder {
    color: #b3b3b3; }
  .uk-form input:not([type]):-ms-input-placeholder,
  .uk-form input[type=text]:-ms-input-placeholder,
  .uk-form input[type=password]:-ms-input-placeholder,
  .uk-form input[type=email]:-ms-input-placeholder,
  .uk-form input[type=url]:-ms-input-placeholder,
  .uk-form input[type=search]:-ms-input-placeholder,
  .uk-form input[type=tel]:-ms-input-placeholder,
  .uk-form input[type=number]:-ms-input-placeholder,
  .uk-form input[type=datetime]:-ms-input-placeholder,
  .uk-form textarea:-ms-input-placeholder {
    color: #b3b3b3; }
.uk-form input[type=search]::-webkit-search-cancel-button,
.uk-form input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }
.uk-form input[type=number]::-webkit-inner-spin-button,
.uk-form input[type=number]::-webkit-outer-spin-button {
  height: auto; }
.uk-form input[type=checkbox],
.uk-form input[type=radio] {
  padding: 0; }
.uk-form input[type=checkbox]:not(:disabled),
.uk-form input[type=radio]:not(:disabled) {
  cursor: pointer; }
.uk-form input[type=checkbox],
.uk-form input[type=radio] {
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid #aaa;
  overflow: hidden;
  margin-top: -4px;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: 0;
  background: 0 0;
  text-align: center;
  position: relative; }
.uk-form input[type=radio] {
  border-radius: 50%; }
.uk-form input[type=checkbox]:before,
.uk-form input[type=radio]:before {
  display: block; }
.uk-form input[type=radio]:checked:before {
  content: '';
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background: #000; }
.uk-form input[type=checkbox]:checked:before,
.uk-form input[type=checkbox]:indeterminate:before {
  content: "\2714";
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 13px;
  color: #000; }
.uk-form input[type=checkbox]:indeterminate:before {
  content: "\f068"; }
.uk-form input[type=checkbox]:disabled,
.uk-form input[type=radio]:disabled {
  border-color: #ddd; }
.uk-form input[type=radio]:disabled:checked:before {
  background-color: #aaa; }
.uk-form input[type=checkbox]:disabled:checked:before,
.uk-form input[type=checkbox]:disabled:indeterminate:before {
  color: #aaa; }

.uk-button {
  font-size: 16px;
  font-weight: 300;
  padding: 5px 15px 7px;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  max-width: 100%;
  cursor: pointer;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #4d4d4d;
  color: #ffffff; }
  .uk-button:hover {
    background-color: #676767; }
  .uk-button:active {
    background-color: #343434; }
  .uk-button-primary {
    background-color: #6478c8; }
    .uk-button-primary:hover {
      background-color: #8a99d5; }
    .uk-button-primary:active {
      background-color: #4159b8; }
  .uk-button-success {
    background-color: #fac85a; }
    .uk-button-success:hover {
      background-color: #fcd98c; }
    .uk-button-success:active {
      background-color: #f9b829; }
  .uk-button-muted {
    background-color: #999999; }
    .uk-button-muted:hover {
      background-color: #b3b3b3; }
    .uk-button-muted:active {
      background-color: gray; }
  .uk-button-warning {
    background-color: #aae090; }
    .uk-button-warning:hover {
      background-color: #c9ebb8; }
    .uk-button-warning:active {
      background-color: #8bd568; }
  .uk-button-danger {
    background-color: #ca1f1f; }
    .uk-button-danger:hover {
      background-color: #e13b3b; }
    .uk-button-danger:active {
      background-color: #9e1818; }
  .uk-button-success {
    color: #000000; }

.uk-text-primary {
  color: #6478c8; }
.uk-text-success {
  color: #fac85a; }
.uk-text-muted {
  color: #999999; }
.uk-text-warning {
  color: #aae090; }
.uk-text-danger {
  color: #ca1f1f; }

.uk-badge-primary {
  background-color: #6478c8;
  color: #000000; }
  .uk-badge-primary:hover {
    background-color: #8a99d5; }
  .uk-badge-primary:active {
    background-color: #4159b8; }
.uk-badge-success {
  background-color: #fac85a;
  color: #000000; }
  .uk-badge-success:hover {
    background-color: #fcd98c; }
  .uk-badge-success:active {
    background-color: #f9b829; }
.uk-badge-muted {
  background-color: #999999;
  color: #000000; }
  .uk-badge-muted:hover {
    background-color: #b3b3b3; }
  .uk-badge-muted:active {
    background-color: gray; }
.uk-badge-warning {
  background-color: #aae090;
  color: #000000; }
  .uk-badge-warning:hover {
    background-color: #c9ebb8; }
  .uk-badge-warning:active {
    background-color: #8bd568; }
.uk-badge-danger {
  background-color: #ca1f1f;
  color: #000000; }
  .uk-badge-danger:hover {
    background-color: #e13b3b; }
  .uk-badge-danger:active {
    background-color: #9e1818; }
.uk-badge-primary {
  color: #fff; }
.uk-badge i {
  display: block; }

.uk-tab {
  border: none; }
  .uk-tab > li {
    margin-right: 8.3%;
    position: relative; }
    .uk-tab > li:hover {
      background-color: transparent; }
    .uk-tab > li.uk-active > a {
      color: #000000; }
      .uk-tab > li.uk-active > a:after {
        opacity: 1; }
    .uk-tab > li > a {
      color: #000000;
      font-family: "Muller Medium";
      font-size: 28px;
      border: none !important;
      padding: 0 0 19px; }
      .uk-tab > li > a:after {
        content: '';
        display: block;
        height: 4px;
        background-color: #ca1f1f;
        position: absolute;
        width: 100%;
        bottom: 0;
        opacity: 0; }
      .uk-tab > li > a:hover {
        background-color: transparent; }

.uk-panel-box {
  background-image: url('../img/box-bg.png?1492947973');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .uk-panel-box-primary {
    background-image: url('../img/box-primary-bg.png?1492947988'); }
  .uk-panel-box-secodary {
    background-image: url('../img/box-secondary-bg.png?1492948011');
    color: #ffffff; }
    .uk-panel-box-secodary .uk-panel-title {
      color: #ffffff; }
.uk-panel-responsive {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden; }
  .uk-panel-responsive > * {
    position: absolute; }

.uk-badge {
  padding: 5px;
  text-align: center;
  width: 60px;
  height: 60px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.uk-description-list {
  font-size: 16px; }
  .uk-description-list dt {
    float: left;
    margin-right: 9px;
    color: #808080;
    font-family: "Muller Regular";
    font-style: normal;
    font-weight: normal; }
  .uk-description-list dd {
    overflow: hidden;
    display: block;
    margin-bottom: 9px;
    font-family: "Muller Medium"; }

.uk-tooltip {
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .uk-tooltip-top-left:after, .uk-tooltip-top-right:after, .uk-tooltip-top:after {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: #ffffff; }
  .uk-tooltip-bottom-left:after, .uk-tooltip-bottom-right:after, .uk-tooltip-bottom:after {
    top: -5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #ffffff; }
  .uk-tooltip-left:after {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #ffffff; }
  .uk-tooltip-right:after {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: #ffffff; }

.column {
  -moz-columns: 300px 2;
  -webkit-columns: 300px 2;
  columns: 300px 2;
  -moz-column-gap: 80px;
  -webkit-column-gap: 80px;
  column-gap: 80px;
  -moz-column-rule: 0px solid #000;
  -webkit-column-rule: 0px solid #000;
  column-rule: 0px solid #000; }

a:hover {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.soc {
  float: left; }
  .soc a {
    display: inline-block;
    text-decoration: none;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .soc a:hover {
      opacity: .8; }

.copy {
  float: right; }

/* Header
 ----------------------------------------------------------------------------- */
.header {
  background-color: #ccc; }

.logo {
  background-color: #ddd;
  float: left;
  width: 150px; }

/* Navbar
-------------------------------------------------------------------------------*/
.uk-navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  .uk-navbar-brand {
    margin-top: 30px;
    margin-left: 35px; }
  .uk-navbar-nav {
    margin-top: 41px; }
    .uk-navbar-nav > li {
      float: none;
      display: inline-block; }
      .uk-navbar-nav > li:hover a {
        background-color: transparent;
        color: #ffffff; }
      .uk-navbar-nav > li > a {
        color: #ffffff;
        cursor: pointer !important;
        position: relative;
        height: auto;
        line-height: 1.3;
        padding: 0 0 7px;
        margin: 5px 15px;
        font-family: "Muller Medium";
        font-size: 18px; }
        .uk-navbar-nav > li > a:before {
          content: '';
          display: block;
          position: absolute;
          height: 2px;
          width: 0;
          bottom: 0;
          left: 50%;
          opacity: 0;
          background-color: #ca1f1f;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
        .uk-navbar-nav > li > a:hover, .uk-navbar-nav > li > a:active, .uk-navbar-nav > li > a.active {
          background-color: transparent;
          color: #ffffff; }
          .uk-navbar-nav > li > a:hover:before, .uk-navbar-nav > li > a:active:before, .uk-navbar-nav > li > a.active:before {
            opacity: 1;
            width: 100%;
            left: 0; }
        .uk-navbar-nav > li > a:focus {
          background-color: transparent;
          color: #ffffff; }
  .uk-navbar-center {
    overflow: hidden; }
  .uk-navbar-flip {
    margin-top: 28px;
    margin-right: 50px; }
    .uk-navbar-flip .uk-button {
      position: relative;
      color: #000000;
      font-size: 13px;
      padding: 14px;
      width: 100%;
      font-family: "Muller Medium"; }
      .uk-navbar-flip .uk-button:before {
        content: '';
        display: block;
        position: absolute;
        top: -7px;
        right: 2px;
        border: 8px solid transparent;
        border-top-color: #fac85a;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .uk-navbar-flip .uk-button:hover:before {
        content: '';
        border-top-color: #fcd98c; }
      .uk-navbar-flip .uk-button:active:before {
        content: '';
        border-top-color: #f9b829; }
  .uk-navbar-tel {
    color: #ffffff;
    font-family: "Muller Bold";
    font-size: 21px;
    display: block;
    margin-bottom: 7px; }
    .uk-navbar-tel:hover {
      text-decoration: none;
      opacity: .7; }

/* Middle
 ----------------------------------------------------------------------------- */
.uk-container {
  max-width: 1406px; }

.section__title {
  color: #ca1f1f;
  font-family: "Muller Black";
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 31px;
  line-height: 1.3; }

section {
  position: relative; }

.slimScrollBar {
  display: none !important; }

.first__screen {
  background: url('../img/f-bg.jpg?1492802325') center no-repeat;
  background-size: cover;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 640px; }
  .first__screen h1 {
    color: #ffffff;
    font-family: "Muller Black";
    max-width: 750px;
    line-height: 1.4;
    margin-bottom: 4%;
    font-size: 48px;
    text-transform: uppercase; }
    .first__screen h1 span {
      font-family: "Muller Regular"; }
  .first__screen .uk-container {
    display: table-cell;
    vertical-align: middle; }
  .first__screen .uk-button-danger {
    color: #ffffff;
    font-size: 20px;
    position: relative;
    padding: 20px;
    text-align: left;
    margin-bottom: 25px;
    line-height: 1;
    width: 100%;
    max-width: 440px; }
    .first__screen .uk-button-danger i {
      float: right; }
  .first__screen_sub {
    font-size: 24px;
    color: #ffffff; }
  .first__screen .soc {
    position: absolute;
    right: 38px;
    bottom: 40px; }
    .first__screen .soc a {
      color: #fff;
      font-size: 30px;
      margin: 5px 8px; }
      .first__screen .soc a:hover {
        color: #ca1f1f; }

.sofas__top {
  background-color: #fac85a; }
  .sofas__top .uk-grid {
    max-width: 1192px; }
  .sofas__top_item {
    display: table; }
  .sofas__top_img {
    padding-right: 35px;
    display: table-cell;
    width: 37%; }
    .sofas__top_img img {
      width: 100%; }
  .sofas__top_text {
    font-family: "Muller Regular";
    font-size: 21px;
    display: table-cell;
    vertical-align: middle; }
  .sofas__top_name {
    font-size: 28px;
    font-family: "Muller Bold";
    margin-bottom: 10px; }
  .sofas__top .uk-container {
    padding: 5.5% 0 4.2%; }
.sofas__list {
  margin: 6.5% 0 0; }
.sofas__grid {
  margin-top: 55px;
  margin-left: -20px; }
  .sofas__grid_wrapp {
    padding-left: 20px;
    margin-bottom: 35px; }
  .sofas__grid_item {
    z-index: 1;
    position: relative;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-sizing: content-box;
    background-color: #fff; }
    .sofas__grid_item:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      margin: -20px;
      padding: 20px;
      z-index: 2; }
      .sofas__grid_item:hover .sofas__grid_description {
        position: absolute;
        left: 0;
        padding: 0 20px 20px;
        height: auto;
        z-index: 3;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        overflow: inherit; }
        .sofas__grid_item:hover .sofas__grid_description:before {
          content: '';
          left: 0; }
  .sofas__grid_img {
    position: relative;
    padding-bottom: 109.6%;
    overflow: hidden; }
    .sofas__grid_img img {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute; }
    .sofas__grid_img .uk-badge {
      font-family: "Muller Medium";
      font-size: 12px;
      padding: 10px;
      position: absolute;
      right: 0; }
      .sofas__grid_img .uk-badge + .uk-badge {
        margin-right: 80px; }
      .sofas__grid_img .uk-badge i {
        height: 24px;
        margin-bottom: 6px; }
  .sofas__grid_description {
    height: 100px;
    width: 100%;
    overflow: hidden;
    background-color: #fff; }
    .sofas__grid_description:before {
      content: '';
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      position: absolute;
      width: 100%;
      height: 16px;
      top: -16px;
      background-color: #fff;
      display: block; }
  .sofas__grid_name {
    font-family: "Muller Bold";
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 1px; }
  .sofas__grid_sub {
    color: #808080;
    font-size: 14px;
    margin-bottom: 6px; }
  .sofas__grid_price {
    color: #ca1f1f;
    font-family: "Muller Bold";
    font-size: 28px;
    margin-bottom: 17px; }
    .sofas__grid_price_old {
      font-family: "Muller Regular";
      font-size: 16px;
      text-decoration: line-through;
      color: #999999;
      margin-right: 10px; }
  .sofas__grid_color {
    color: #808080;
    font-family: "Muller Regular";
    font-size: 12px;
    margin-bottom: 22px; }
    .sofas__grid_color_item {
      display: inline-block;
      width: 36px;
      height: 36px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      margin-right: 8px; }
    .sofas__grid_color_title {
      margin-bottom: 8px; }
  .sofas__grid_size {
    margin-bottom: 14px; }
    .sofas__grid_size_item {
      font-size: 14px; }
    .sofas__grid_size_name {
      color: #808080;
      font-size: 12px; }
  .sofas__grid .uk-button-success {
    width: 100%;
    font-size: 21px;
    padding: 14px;
    margin-top: 10px; }

.promo {
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  padding: 5.4% 0; }
  .promo_col:first-child, .promo_col:last-child {
    width: 30.2%; }
  .promo_col:nth-child(2) {
    width: 39.6%;
    text-align: center; }
  .promo_col p {
    color: #808080;
    font-size: 14px;
    margin: 29px 0; }
  .promo_col ul {
    list-style: none;
    padding: 0; }
    .promo_col ul li {
      padding-left: 10px;
      margin: 9px 0;
      position: relative;
      font-size: 16px; }
      .promo_col ul li:before {
        content: '|';
        color: #ca1f1f;
        position: absolute;
        top: 0;
        left: 0; }
  .promo_badge {
    background-color: #82be78;
    -moz-border-radius: 0 5px 0 5px;
    -webkit-border-radius: 0;
    border-radius: 0 5px 0 5px;
    color: #ffffff;
    font-size: 12px;
    padding: 9px;
    position: absolute;
    right: 0;
    top: 0; }
  .promo__title {
    font-family: "Muller Bold";
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 26px; }
  .promo__subtitle {
    color: #808080;
    font-family: "Muller Regular";
    font-size: 18px; }
  .promo_img {
    position: relative;
    margin-top: 34%; }
  .promo__tooltip {
    width: 40px;
    height: 40px;
    background-color: #e6e6e6;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .promo__tooltip:after, .promo__tooltip:before {
      content: '';
      display: block;
      background-color: #000000;
      position: absolute;
      top: 50%;
      left: 50%; }
    .promo__tooltip:before {
      width: 16px;
      height: 1px;
      margin-left: -8px; }
    .promo__tooltip:after {
      content: '';
      width: 1px;
      height: 16px;
      margin-top: -8px; }
    .promo__tooltip:hover {
      background-color: #fac85a; }
    .promo__tooltip:first-child {
      left: 24%;
      top: -22%; }
    .promo__tooltip:nth-child(2) {
      left: 6.7%;
      bottom: 0; }
    .promo__tooltip:nth-child(3) {
      top: 28%;
      left: 31%; }
    .promo__tooltip:nth-child(4) {
      right: 35%;
      top: 51%; }
    .promo__tooltip:nth-child(5) {
      right: 6%;
      top: 31%; }
  .promo_total {
    border-bottom: 1px solid #cdcdcd;
    padding: 2% 0;
    margin-bottom: 10%; }
    .promo_total .uk-button-danger {
      font-family: "Muller Bold";
      font-size: 24px;
      padding: 23px;
      width: 260px; }
  .promo_left {
    float: left;
    color: #ca1f1f;
    font-family: "Muller Bold";
    font-size: 48px; }
  .promo_price_old {
    color: #999999;
    font-family: "Muller Regular";
    font-size: 26px;
    text-decoration: line-through;
    margin-bottom: 4px; }
  .promo_right {
    float: right; }
    .promo_right > * {
      display: inline-block;
      vertical-align: middle; }
  .promo_option {
    margin-right: 20px;
    font-size: 21px; }
    .promo_option span {
      color: #000000; }
  .promo .uk-panel-box {
    font-size: 14px;
    padding: 21px 20px;
    min-height: 120px;
    margin-bottom: 40px;
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  .promo .uk-panel-title {
    font-family: "Muller Bold";
    font-size: 18px;
    margin-bottom: 5px; }
  .promo .uk-description-list {
    padding-top: 10px; }

.form__line {
  background: url('../img/form-bg.jpg?1492947380') 0 0 no-repeat;
  background-size: cover;
  color: #fff;
  margin: 14px 0 0;
  height: 480px; }
  .form__line .uk-form {
    background: url('../img/form-bg.png?1492959251') 0 0 no-repeat;
    background-size: cover;
    padding: 84px 40px 40px;
    max-width: 620px;
    text-align: center;
    position: relative;
    top: -60px;
    margin: 0 auto;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; }
  .form__line .form__icon {
    width: 95px;
    height: 60px;
    background: url('../img/sofa-icon.svg?1492959305') no-repeat center center;
    background-size: contain;
    margin-bottom: -10px;
    display: inline-block; }
  .form__line_title {
    color: #ffffff;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 17px; }
  .form__line_subtitle {
    font-family: "Muller Light";
    font-size: 16px;
    text-transform: uppercase;
    max-width: 350px;
    display: inline-block;
    margin-bottom: 55px; }
  .form__line label {
    font-size: 14px;
    font-family: "Muller Light";
    margin-bottom: 6px;
    display: block;
    text-align: left; }
  .form__line input[type=text] {
    padding: 14px 10px;
    width: 100%; }
  .form__line select {
    padding: 14px 10px;
    height: auto;
    text-align: left;
    width: 100%;
    border: none; }
  .form__line .uk-form-field {
    margin-bottom: 24px; }
  .form__line .uk-button {
    padding: 16px;
    margin-top: 4px;
    font-family: "Muller Bold";
    font-size: 18px; }

.materials {
  background: url('../img/mat-bg.png?1492973226') no-repeat top right;
  margin-bottom: 5.4%;
  padding-top: 12%; }
  .materials__description {
    float: left;
    width: 233px;
    margin-right: 30px;
    line-height: 1.45;
    padding-top: 11px; }
  .materials__box {
    overflow: hidden;
    padding-top: 16px; }
  .materials__name {
    position: absolute;
    z-index: 2;
    bottom: 13px;
    left: 57px;
    font-size: 20px; }
  .materials .section__title {
    margin-bottom: 6px;
    line-height: 1; }
  .materials .section__subtitle {
    font-size: 20px;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 51px;
    max-width: 840px; }
  .materials .uk-tab {
    margin-bottom: 26px; }
  .materials .uk-panel {
    position: relative;
    margin-bottom: 35px; }
    .materials .uk-panel img {
      display: block;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      cursor: pointer; }
      .materials .uk-panel img:hover {
        box-shadow: 0 0 19px rgba(0, 0, 0, 0.5); }

.used {
  margin-bottom: 9.1%; }
  .used .section__title {
    margin-bottom: 48px; }
  .used__name {
    font-family: "Muller Regular";
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center; }

.reccomend {
  padding: 6.3% 0 4.6%;
  background-color: #f2f2f2; }
  .reccomend .section__title {
    color: #000000;
    margin-bottom: 34px; }
  .reccomend .reccomend__text {
    font-size: 18px;
    line-height: 1.7;
    max-height: 270px;
    overflow: hidden;
    max-width: 1336px; }
    .reccomend .reccomend__text.open {
      max-height: none; }
  .reccomend .reccomend__more {
    display: block;
    max-width: 226px;
    margin: 30px auto;
    color: #29abe2;
    font-size: 21px;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .reccomend .reccomend__more i {
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    .reccomend .reccomend__more:hover {
      color: #fac85a;
      text-decoration: none; }
    .reccomend .reccomend__more.open {
      color: #fac85a; }
      .reccomend .reccomend__more.open i {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }

.gift {
  padding: 7% 0 4%; }
  .gift .section__title {
    color: #000000;
    padding-left: 122px;
    position: relative; }
    .gift .section__title:before {
      content: '';
      background: url('../img/percent-title.svg?1492968304') no-repeat center center;
      background-size: contain;
      display: block;
      width: 81px;
      height: 98px;
      position: absolute;
      top: 9px;
      left: 0; }
  .gift .sofas__grid {
    margin-top: 50px; }
    .gift .sofas__grid_description {
      height: 75px; }
    .gift .sofas__grid .sofas__grid_name {
      margin-bottom: 16px;
      text-transform: inherit; }
    .gift .sofas__grid_color {
      color: #000000;
      font-size: 14px; }
    .gift .sofas__grid_color_title {
      font-size: 12px;
      color: #808080; }

.how__work {
  padding: 7.4% 0 7%;
  text-align: center;
  background-color: #fac85a; }
  .how__work .section__title {
    color: #000000;
    margin-bottom: 40px; }
  .how__work_grid {
    counter-reset: li;
    list-style: none;
    position: relative;
    margin-bottom: 15px; }
    .how__work_grid:before {
      content: '';
      display: block;
      position: absolute;
      height: 4px;
      background-color: #ca1f1f;
      width: 66%;
      left: 18%;
      top: 90px;
      z-index: 0; }
  .how__work img {
    -moz-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
    border-radius: 6px; }
  .how__work_item {
    font-size: 21px;
    margin-bottom: 48px; }
    .how__work_item:before {
      content: '';
      content: counter(li);
      counter-increment: li;
      display: block;
      color: #ca1f1f;
      font-family: "Muller Bold";
      font-size: 38px;
      margin-bottom: 13px; }
    .how__work_item p {
      font-size: 21px;
      margin: auto;
      max-width: 325px;
      line-height: 1.4; }
  .how__work_point {
    width: 64px;
    height: 64px;
    background: url('../img/how-point.png?1492968457') no-repeat center center;
    background-size: contain;
    margin-bottom: 23px;
    margin: 0 auto 23px;
    position: relative; }
  .how__work_name {
    font-family: "Muller Bold";
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 5px; }
  .how__work .uk-button {
    padding: 23px;
    font-size: 24px;
    max-width: 380px;
    width: 100%;
    -moz-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3); }

.delivery {
  padding: 6% 0 6.3%; }
  .delivery .section__title {
    color: #000000;
    text-align: center;
    margin-bottom: 82px; }
  .delivery__item {
    margin-bottom: 30px; }
    .delivery__item:first-child {
      width: 55%; }
    .delivery__item:last-child {
      width: 45%; }
  .delivery__row {
    margin-bottom: 50px; }
  .delivery__img {
    float: left;
    margin-right: 40px; }
  .delivery__descr {
    overflow: hidden; }
  .delivery__title {
    font-family: "Muller Bold";
    font-size: 32px;
    margin-bottom: 30px; }
  .delivery__list {
    font-size: 21px; }
    .delivery__list li {
      margin-bottom: 10px; }
  .delivery__form {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #fac85a;
    padding: 41px 41px 33px;
    text-align: center;
    -moz-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3); }
    .delivery__form_title {
      font-size: 28px;
      margin-bottom: 45px; }
    .delivery__form_sub {
      font-size: 14px;
      color: #4d4d4d; }
      .delivery__form_sub a {
        color: #000000; }
    .delivery__form input[type=text] {
      padding: 15px 21px;
      font-size: 16px;
      border: 1px solid #b4b4b4;
      margin-bottom: 18px;
      width: 100%;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    .delivery__form .uk-button {
      font-size: 18px;
      padding: 17px;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 16px; }
  .delivery .uk-button {
    background-color: #4d4d4d;
    color: #ffffff; }
    .delivery .uk-button:hover {
      background-color: #676767; }
    .delivery .uk-button:active {
      background-color: #343434; }

.reason {
  background: url('../img/reason-bg.jpg?1492969825') no-repeat center center;
  padding: 3.5% 0 4.5%;
  color: #ffffff;
  background-size: cover; }
  .reason__title {
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    margin-top: 318px;
    padding: 36px 26px;
    font-size: 38px;
    font-family: "Muller Bold";
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    width: 31%;
    float: left;
    line-height: 1.1; }
  .reason__wrapp {
    margin-top: 22px;
    overflow: hidden;
    background: url('../img/line.png?1493027311') no-repeat left center;
    padding-left: 22.4%;
    padding-top: 43px; }
  .reason__item {
    display: table;
    font-size: 21px;
    width: 100%;
    margin-bottom: 50px;
    max-width: 500px; }
  .reason__img {
    padding-right: 22px;
    display: table-cell;
    width: 137px;
    position: relative; }
  .reason__text {
    display: table-cell;
    vertical-align: middle; }
  .reason__name {
    color: #fac85a;
    font-family: "Muller Bold";
    font-size: 32px;
    margin-bottom: 9px; }

.review {
  padding: 5.7% 0 10.9%; }
  .review .section__title {
    color: #000000;
    text-align: center;
    margin-bottom: 41px; }
  .review__slider_item {
    text-align: center;
    font-family: "Muller Regular Italic";
    font-size: 18px;
    padding: 0 40px; }
    .review__slider_item:after, .review__slider_item:before {
      content: '';
      background-size: contain;
      width: 120px;
      height: 80px;
      position: absolute;
      opacity: .2; }
    .review__slider_item:after {
      background-image: url('../img/quote-bottom.svg?1493030661');
      bottom: 4px;
      left: 57px; }
    .review__slider_item:before {
      background-image: url('../img/quote-top.svg?1493030648');
      top: 73px;
      right: 60px; }
    .review__slider_item img {
      width: 100px;
      height: 100px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      margin-bottom: 19px; }
    .review__slider_item p {
      display: inline-block;
      margin: 0;
      padding: 0 100px; }
  .review__rate {
    color: #22b573;
    font-family: "Muller Bold";
    font-size: 14px;
    margin-bottom: 30px; }
  .review__date {
    color: #999999;
    font-size: 12px;
    margin-top: 68px;
    margin-bottom: 10px; }
  .review .uk-slidenav {
    position: absolute;
    top: 51%; }
    .review .uk-slidenav:hover {
      opacity: .6; }
    .review .uk-slidenav-previous {
      left: 40px; }
      .review .uk-slidenav-previous:before {
        content: url('../img/prev.png?1493030990'); }
    .review .uk-slidenav-next {
      right: 40px; }
      .review .uk-slidenav-next:before {
        content: url('../img/next.png?1493030978'); }

.form__line_3 {
  padding: 4.3% 0 6.3%;
  background: url('../img/form_3.jpg?1493032158') no-repeat center center;
  background-size: cover; }
  .form__line_3 .section__title {
    text-align: center;
    margin-bottom: 38px; }
  .form__line_3 input[type=text] {
    font-size: 16px;
    padding: 14px;
    width: 100%;
    border: none;
    border: 1px solid #b4b4b4;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3); }
  .form__line_3 .uk-button {
    width: 100%;
    font-size: 18px;
    padding: 16px;
    -moz-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3); }

.question {
  padding: 6.3% 0; }
  .question .section__title {
    color: #000000;
    text-align: center;
    margin-bottom: 39px; }
  .question .uk-nav-sub {
    padding: 30px 20px;
    line-height: 1.3; }
  .question .uk-parent + * {
    margin-top: 20px; }
  .question .uk-parent > a {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    color: #000000;
    font-family: "Muller Regular";
    font-size: 21px;
    padding: 19px 21px 18px;
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }
    .question .uk-parent > a:hover {
      background-color: #e6e6e6;
      color: #000000;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .question .uk-parent > a:after {
      content: '\f107';
      font-size: 52px;
      width: auto;
      position: absolute;
      right: 22px;
      top: 50%;
      margin-top: -34px;
      margin-right: 0;
      color: #4c4c4c; }
  .question .uk-parent.uk-open > a {
    background-color: #fac85a;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .question .uk-parent.uk-open > a:hover {
      background-color: #fcd98c; }
    .question .uk-parent.uk-open > a:after {
      content: "\f106"; }

/* Footer
 ----------------------------------------------------------------------------- */
.footer {
  position: relative; }

/* Responsive styles
----------------------------------------------------------------------------- */
