/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

// Compass extention 
@import 'compass/css3';

// Global variables
// ========================================================================

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Lora);

@font-face {
  font-family: 'Muller Bold';
  src: url('../fonts/MullerBold.eot');
  src: url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff'),
       url('../fonts/MullerBold.ttf') format('truetype'),
       url('../fonts/MullerBold.svg#MullerBold') format('svg'),
       url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Medium';
  src: url('../fonts/MullerMedium.eot');
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
       url('../fonts/MullerMedium.woff') format('woff'),
       url('../fonts/MullerMedium.ttf') format('truetype'),
       url('../fonts/MullerMedium.svg#MullerMedium') format('svg'),
       url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Regular Italic';
  src: url('../fonts/MullerRegularItalic.eot');
  src: url('../fonts/MullerRegularItalic.woff2') format('woff2'),
       url('../fonts/MullerRegularItalic.woff') format('woff'),
       url('../fonts/MullerRegularItalic.ttf') format('truetype'),
       url('../fonts/MullerRegularItalic.svg#MullerRegularItalic') format('svg'),
       url('../fonts/MullerRegularItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Light';
  src: url('../fonts/MullerLight.eot');
  src: url('../fonts/MullerLight.woff2') format('woff2'),
       url('../fonts/MullerLight.woff') format('woff'),
       url('../fonts/MullerLight.ttf') format('truetype'),
       url('../fonts/MullerLight.svg#MullerLight') format('svg'),
       url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Regular';
  src: url('../fonts/MullerRegular.eot');
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
       url('../fonts/MullerRegular.woff') format('woff'),
       url('../fonts/MullerRegular.ttf') format('truetype'),
       url('../fonts/MullerRegular.svg#MullerRegular') format('svg'),
       url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Black';
  src: url('../fonts/MullerBlack.eot');
  src: url('../fonts/MullerBlack.woff2') format('woff2'),
       url('../fonts/MullerBlack.woff') format('woff'),
       url('../fonts/MullerBlack.ttf') format('truetype'),
       url('../fonts/MullerBlack.svg#MullerBlack') format('svg'),
       url('../fonts/MullerBlack.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


// Icon fonts
@font-face {
  font-family: 'meb96';
  src:  url('../fonts/meb96.eot?ph4iar');
  src:  url('../fonts/meb96.eot?ph4iar#iefix') format('embedded-opentype'),
    url('../fonts/meb96.ttf?ph4iar') format('truetype'),
    url('../fonts/meb96.woff?ph4iar') format('woff'),
    url('../fonts/meb96.svg?ph4iar#meb96') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'meb96' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-insta:before {
  content: "\e901";
}
.icon-vk:before {
  content: "\e902";
}
.icon-cargo:before {
	content: url('../img/cargo.svg');
}
.icon-star-o:before {
	content: url('../img/star-o.svg');
}
.icon-percent-o:before {
	content: url('../img/percent-o.svg');
}


// Variables ==========================================================
	// Example for button 
	// --------------------------
	// for html - btn__primary, btn__success etc...
	// --------------------------
	// for scss 
	// .btn{
	// 	@each $status, $color in $el_bg_colors {
	// 		&__#{$status} {
	// 			background: $color;
	// 		}
	// 	}
	// }
$main_font_family:								'Muller Regular';

$color-main:									#000000;
$color-primary:    								#6478c8;
$color-danger:     								#ca1f1f;
$color-success:									#fac85a;
$color-warning:									#aae090;
$color-muted:									#999999;

$el-bg-colors: (
	primary: $color-primary, // color for .element__primary
	success: $color-success, // color for .element__success
	muted: $color-muted, // color for .element__info
	warning: $color-warning, // color for .element__warning
	danger: $color-danger, // color for .element__danger
);

// Mixin =======================================================================

// Style for columns text 
	// Используется для многоколоночного адаптивного текста, а также для списков
	// $width - минимальная ширина колонок
	// $count - количество колонок (при уменьшении экрана меняются автоматически в зависимости от первого значения)
	// $padding - отступ между колонками
	// $divider_widh - ширина разделительной линии между колонками
	// $divider_line - стиль разделительной линии 
	// $divider_color - цвет разделительной линии 
	// Лишнее можно просто закомментировать
	// ---------------------------------
	// Example for html 
	// div class="column"
	// ---------------------------------
	// Example for scss 
	// .column {
	// 	@include columns-text(300px, 3, 40px, 1px, solid, #000);
	// }
@mixin columns-text($width, $count, $padding, $divider_widh, $divider_line, $divider_color) {
	@include columns($width $count); // Count and width or columns
	@include column-gap($padding); // Padding for columns
	@include column-rule($divider_widh $divider_line $divider_color); // Divider for columns
}


// Float el clear
%clear_a {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

%clear_b {
	&:before {
		content: '';
		display: table;
		clear: both;
	}
}

%clear_all {
	@extend %clear_a;
	@extend %clear_b;
}

// Transition speed for element
@mixin trs($trs_speed) {
	@include transition(all $trs_speed);
}


// Placeholder for input
@mixin placeholder {
	&::-webkit-input-placeholder {@content};
	&:-moz-placeholder           {@content};
	&::-moz-placeholder          {@content};
	&:-ms-input-placeholder      {@content}; 
}


// End @mixin and variables

// Reset brouser styles ========================
* {
	@include box-sizing(border-box);
}

html,body { 
	font: 18px $main_font_family;
	line-height: 1.2;
	overflow: inherit; 
	color: $color-main;
}

b, strong {
	font-family: "Muller Bold";
}

// Input text and textarea ================================================
.uk-form {
	input:not([type]),
	input[type=text],
	input[type=password],
	input[type=email],
	input[type=url],
	input[type=search],
	input[type=tel],
	input[type=number],
	input[type=datetime], 
	textarea {
		height: auto;
		background-color: white;
		border: 1px solid #ccc;
		padding: 6px 15px;
		outline: none;
		font-size: 16px;
		font-weight: 300;
		font-family: $main_font_family;
		// @include border-radius(5px);
		@include trs(0.3s);
		&:hover {
		}
		&:focus {
			border: 1px solid #bebebe;
			background-color: #f6f6f6;
			@include placeholder {
				color: red;
			}
		}
		&.input_error {
			background-color: #fff0f0;
			border: 1px solid red;
		}
		// Placeholder for input +++++++++++++++
		@include placeholder {
			color: #b3b3b3;
		}
	}

	input[type=search]::-webkit-search-cancel-button,
	input[type=search]::-webkit-search-decoration {
	    -webkit-appearance: none;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
	    height: auto;
	}

	// Input checkbox and radio ===============================================
	input[type=checkbox],
	input[type=radio] {
		padding: 0;
	}

	input[type=checkbox]:not(:disabled),
	input[type=radio]:not(:disabled) {
	    cursor: pointer;
	}

	input[type=checkbox],
	input[type=radio] {
	    display: inline-block;
	    height: 14px;
	    width: 14px;
	    border: 1px solid #aaa;
	    overflow: hidden;
	    margin-top: -4px;
	    vertical-align: middle;
	    -webkit-appearance: none;
	    outline: 0;
	    background: 0 0;
	    text-align: center;
	    position: relative;
	}

	input[type=radio] {
	    border-radius: 50%;
	}

	input[type=checkbox]:before,
	input[type=radio]:before {
	    display: block;
	}

	input[type=radio]:checked:before {
	    content: '';
	    width: 6px;
	    height: 6px;
	    top: 50%;
	    left: 50%;
	    margin-top: -3px;
	    margin-left: -3px;
	    display: block;
	    position: absolute;
	    border-radius: 50%;
	    background: #000;
	}

	input[type=checkbox]:checked:before,
	input[type=checkbox]:indeterminate:before {
	    content: "\2714";
	    font-size: 12px;
	    -webkit-font-smoothing: antialiased;
	    text-align: center;
	    line-height: 13px;
	    color: #000;
	}

	input[type=checkbox]:indeterminate:before {
	    content: "\f068";
	}

	input[type=checkbox]:disabled,
	input[type=radio]:disabled {
	    border-color: #ddd;
	}

	input[type=radio]:disabled:checked:before {
	    background-color: #aaa;
	}

	input[type=checkbox]:disabled:checked:before,
	input[type=checkbox]:disabled:indeterminate:before {
	    color: #aaa;
	}
}

// Style for button and pseudo button for input and link
.uk-button {
	font-size: 16px;
	font-weight: 300;
	padding: 5px 15px 7px;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	line-height: 1;
	@include border-radius(5px);
	@include trs(0.3s);
	background-color: #4d4d4d;
	color: #ffffff;
	&:hover {
		background-color: lighten(#4d4d4d, 10%);
	}
	&:active {
		background-color: darken(#4d4d4d, 10%);
	}
	@each $status_el, $color_el_bg in $el_bg_colors {
		&-#{$status_el} {
			background-color: $color_el_bg;
			&:hover {
				background-color: lighten($color_el_bg, 10%);
			}
			&:active {
				background-color: darken($color_el_bg, 10%);
			}
		}
	}
	&-success {
		color: $color-main;
	}	
}

.uk-text {
	@each $status_el, $color_el_bg in $el_bg_colors {
		&-#{$status_el} {
			color: $color_el_bg;
		}
	}	
}

.uk-badge {
	@each $status_el, $color_el_bg in $el_bg_colors {
		&-#{$status_el} {
			background-color: $color_el_bg;
			color: $color-main;
			&:hover {
				background-color: lighten($color_el_bg, 10%);
			}
			&:active {
				background-color: darken($color_el_bg, 10%);
			}
		}
	}
	&-primary {
		color: #fff;
	}
	i {
		display: block;
	}
}

.uk-tab {
	border: none;
	&>li {
		margin-right: 8.3%;
		position: relative;
		&:hover {
			background-color: transparent;
		}
		&.uk-active {
			&>a {
				color: $color-main;
				&:after {
					opacity: 1;
				}
			}
		}
		&>a {
			color: $color-main;
			font-family: "Muller Medium";
			font-size: 28px;
			border: none !important;
			padding: 0 0 19px;
			&:after {
				content: '';
				display: block;
				height: 4px;
				background-color: $color-danger;
				position: absolute;
				width: 100%;
				bottom: 0;
				opacity: 0;
			}
			&:hover {
				background-color: transparent;
			}
		}
	}
}

.uk-panel {
	&-box {
		background-image: image-url('box-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		&-primary {
			background-image: image-url('box-primary-bg.png');
		}
		&-secodary {
			background-image: image-url('box-secondary-bg.png');
			color: #ffffff;
			.uk-panel-title {
				color: #ffffff;
			}
		}
	}
	&-responsive {
		position: relative;
		padding-bottom: 100%;
		overflow: hidden;
		&>* {
			position: absolute;
		}
	}
}

.uk-badge {
	padding: 5px;
	text-align: center;
	width: 60px;
	height: 60px;
	@include border-radius(5px);
}

.uk-switcher {}

.uk-description-list {
	font-size: 16px;
	dt {
		float: left;
		margin-right: 9px;
		color: #808080;
		font-family: "Muller Regular";
		font-style: normal;
		font-weight: normal;
	}
	dd {
		overflow: hidden;
		display: block;
		margin-bottom: 9px;
		font-family: "Muller Medium";
	}
}

.uk-tooltip {
	padding: 20px;
	box-shadow: 0 0 15px transparentize($color-main, .7);
	@include border-radius(5px);
	&:after {
	    // border: 5px dashed #ffffff;
	}
	&-top-left:after,&-top-right:after,&-top:after {
	    border-left-color: transparent;
	    border-right-color: transparent;
	    border-top-color: #ffffff
	}
	&-bottom-left:after,&-bottom-right:after,&-bottom:after {
	    top: -5px;
	    border-left-color: transparent;
	    border-right-color: transparent;
	    border-bottom-color: #ffffff
	}
	&-left:after {
	    border-top-color: transparent;
	    border-bottom-color: transparent;
	    border-left-color: #ffffff
	}
	&-right:after {
	    border-top-color: transparent;
	    border-bottom-color: transparent;
	    border-right-color: #ffffff
	}
}

// Style for columns text
.column {
	@include columns-text(300px, 2, 80px, 0px, solid, #000);
}

a {
	&:hover {
		@include trs(0.3s);
	}
}

// Social link
.soc {
	a {
		display: inline-block;
		text-decoration: none;
		color: $color-muted;
		font-size: 21px;
		@include trs(0.3s);
		&:hover {
			opacity: .8;
			color: $color-danger;
		}
	}
}

/* Header
 ----------------------------------------------------------------------------- */
.header {
	background-color: #ccc;
	@extend %clear_a;
}

.logo {
	background-color: #ddd;
	float: left;
	width: 150px;
}

/* Navbar
-------------------------------------------------------------------------------*/
.uk-navbar {
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	&-brand {
		margin-top: 30px;
		margin-left: 35px;
	}
	&-nav {
		margin-top: 41px;
		&>li {
			float: none;
			display: inline-block;
			&:hover {
				a {
					background-color: transparent;
					color: #ffffff;
				}
			}
			&>a {
				color: #ffffff;
				cursor: pointer !important;
				position: relative;
				height: auto;
				line-height: 1.3;
				padding: 0 0 7px;
				margin: 5px 15px;
				font-family: "Muller Medium";
				font-size: 18px;
				&:before {
					content: '';
					display: block;
					position: absolute;
					height: 2px;
					width: 0;
					bottom: 0;
					left: 50%;
					opacity: 0;
					background-color: $color-danger;
					@include trs(0.3s);
				}
				&:hover,&:active,&.active {
					background-color: transparent;
					color: #ffffff;
					&:before {
						opacity: 1;
						width: 100%;
						left: 0;
					}
				}
				&:focus {
					background-color: transparent;
					color: #ffffff;
				}
			}
		}
	}
	&-center {
		overflow: hidden;
	}
	&-flip {
		margin-top: 28px;
		margin-right: 50px;
		.uk-button {
			position: relative;
			color: $color-main;
			font-size: 13px;
			padding: 14px;
			width: 100%;
			font-family: "Muller Medium";
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: -7px;
				right: 2px;
				border: 8px solid transparent;
				border-top-color: $color-success;
				@include trs(.3s);
				@include transform(rotate(-45deg));
			}
			&:hover {
				&:before {
					content: '';
					// top: -6px;
					border-top-color: lighten($color-success, 10%);
				}
			}
			&:active {
				&:before {
					content: '';
					border-top-color: darken($color-success, 10%);
				}
			}
		}
	}
	&-toggle {
	}
	&-tel {
		color: #ffffff;
		font-family: "Muller Bold";
		font-size: 21px;
		display: block;
		margin-bottom: 7px;
		&:hover {
			text-decoration: none;
			opacity: .7;
		}
	}
}

/* Middle
 ----------------------------------------------------------------------------- */
.uk-container {
	max-width: 1406px;
	@extend %clear_a;
}

.section {
	&__title {
		color: $color-danger;
		font-family: "Muller Black";
		font-size: 48px;
		text-transform: uppercase;
		margin-bottom: 31px;
		line-height: 1.3;
	}
}

section {
	position: relative;
}

.slimScrollBar {
	display: none !important;
}


// First ======================================================================
.first__screen {
	background: image-url('f-bg.jpg') center no-repeat;
	background-size: cover;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 640px;
	h1 {
		color: #ffffff;
		font-family: "Muller Black";
		max-width: 750px;
		line-height: 1.4;
		margin-bottom: 4%;
		font-size: 48px;
		text-transform: uppercase;
		span {
			font-family: "Muller Regular";
		}
	}
	.uk-container {
		display: table-cell;
		vertical-align: middle;
	}
	.uk-button-danger {
		color: #ffffff;
		font-size: 20px;
		position: relative;
		padding: 20px;
		text-align: left;
		margin-bottom: 25px;
		line-height: 1;
		width: 100%;
		max-width: 440px;
		i {
			float: right;
		}
	}
	&_sub {
		font-size: 24px;
		color: #ffffff;
	}
	.soc {
		position: absolute;
		right: 38px;
		bottom: 40px;
		a {
			color: #fff;
			font-size: 30px;
			margin: 5px 8px;
			&:hover {
				color: $color-danger;
			}
		}
	}
}

// Sofas ======================================================================
.sofas {
	&__top {
		background-color: $color-success;
		.uk-grid {
			max-width: 1192px;
		}
		&_item {
			display: table;
		}
		&_img {
			padding-right: 35px;
			display: table-cell;
			width: 37%;
			img {
				width: 100%;
			}
		}
		&_text {
			font-family: "Muller Regular";
			font-size: 21px;
			display: table-cell;
			vertical-align: middle;
		}
		&_name {
			font-size: 28px;
			font-family: "Muller Bold";
			margin-bottom: 10px;
		}
		.uk-container {
			padding: 5.5% 0 4.2%;
		}
	}
	&__list {
		margin: 6.5% 0 0;
	}
	&__grid {
		margin-top: 55px;
		margin-left: -20px;
		&_wrapp {
			padding-left: 20px;
			margin-bottom: 35px;
		}
		&_item {
			z-index: 1;
			position: relative;
			@include trs(.2s);
			@include border-radius(5px);
			box-sizing: content-box;
			background-color: #fff;
			&:hover {
				box-shadow: 0 0 20px transparentize($color-main, .5);
				margin: -20px;
				padding: 20px;
				z-index: 2;
				// position: absolute;
				.sofas__grid_description {
					position: absolute;
					left: 0;
					padding: 0 20px 20px;
					height: auto;
					z-index: 3;
					box-shadow: 0 0 20px transparentize($color-main, .5);
					overflow: inherit;
					&:before {
						content: '';
						// width: 100%;
						left: 0;
					}
				}
			}
		}
		&_img {
			position: relative;
			padding-bottom: 109.6%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
			}
			.uk-badge {
				font-family: "Muller Medium";
				font-size: 12px;
				padding: 10px;
				position: absolute;
				right: 0;
				&+.uk-badge {
					margin-right: 80px;
				}
				i {
					height: 24px;
					margin-bottom: 6px;
				}
			}
		}
		&_description {
			height: 100px;
			width: 100%;
			overflow: hidden;
			background-color: #fff;
			&:before {
				content: '';
				@include trs(.2s);
				position: absolute;
				width: 100%;
				height: 16px;
				top: -16px;
				background-color: #fff;
				display: block;
			}
		}
		&_name {
			font-family: "Muller Bold";
			font-size: 21px;
			text-transform: uppercase;
			margin-bottom: 1px;
		}
		&_sub {
			color: #808080;
			font-size: 14px;
			margin-bottom: 6px;
		}
		&_price {
			color: $color-danger;
			font-family: "Muller Bold";
			font-size: 28px;
			margin-bottom: 17px;
			&_old {
				font-family: "Muller Regular";
				font-size: 16px;
				text-decoration: line-through;
				color: $color-muted;
				margin-right: 10px;
			}
		}
		&_color {
			color: #808080;
			font-family: "Muller Regular";
			font-size: 12px;
			margin-bottom: 22px;
			&_item {
				display: inline-block;
				width: 36px;
				height: 36px;
				@include border-radius(4px);
				margin-right: 8px;
			}
			&_title {
				margin-bottom: 8px;
			}
		}
		&_size {
			// margin-top: 10px;
			margin-bottom: 14px;
			&_item {
				font-size: 14px;
			}
			&_name {
				color: #808080;
				font-size: 12px;
			}
		}
		.uk-button-success {
			width: 100%;
			font-size: 21px;
			padding: 14px;
			margin-top: 10px;
		}
	}
}


// Promo ======================================================================
.promo {
	border-bottom: 1px solid #cdcdcd;
	border-top: 1px solid #cdcdcd;
	padding: 5.4% 0;
	&_col {
		&:first-child,&:last-child {
			width: 30.2%;
		}
		&:nth-child(2) {
			width: 39.6%;
			text-align: center;
		}
		p {
			color: #808080;
			font-size: 14px;
			margin: 29px 0;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				padding-left: 10px;
				margin: 9px 0;
				position: relative;
				font-size: 16px;
				&:before {
					content: '|';
					color: $color-danger;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
	&_badge {
		background-color: #82be78;
		@include border-radius(0 5px 0 5px);
		color: #ffffff;
		font-size: 12px;
		padding: 9px;
		position: absolute;
		right: 0;
		top: 0;
	}
	&__title {
		font-family: "Muller Bold";
		font-size: 38px;
		text-transform: uppercase;
		margin-bottom: 0px;
		margin-top: 26px;
	}
	&__subtitle {
		color: #808080;
		font-family: "Muller Regular";
		font-size: 18px;
	}
	&_img {
		position: relative;
		margin-top: 34%;
	}
	&__tooltip {
		width: 40px;
		height: 40px;
		background-color: #e6e6e6;
		@include border-radius(50%);
		overflow: hidden;
		position: absolute;
		cursor: pointer;
		@include trs(.3s);
		&:after,&:before  {
			content: '';
			display: block;
			background-color: $color-main;
			position: absolute;
			top: 50%;
			left: 50%;
		}
		&:before {
			width: 16px;
			height: 1px;
			margin-left: -8px;
		}
		&:after {
			content: '';
			width: 1px;
			height: 16px;
			margin-top: -8px;
		}
		&:hover {
			background-color: $color-success;
		}
		&:first-child {
			left: 24%;
			top: -22%;
		}
		&:nth-child(2) {
			left: 6.7%;
			bottom: 0;
		}
		&:nth-child(3) {
			top: 28%;
			left: 31%;
		}
		&:nth-child(4) {
			right: 35%;
			top: 51%;
		}
		&:nth-child(5) {
			right: 6%;
			top: 31%;
		}
	}
	&_total {
		border-bottom: 1px solid #cdcdcd;
		padding: 2% 0;
		margin-bottom: 10%;
		@extend %clear_a;
		.uk-button-danger {
			font-family: "Muller Bold";
			font-size: 24px;
			padding: 23px;
			width: 260px;
		}
	}
	&_left {
		float: left;
		color: $color-danger;
		font-family: "Muller Bold";
		font-size: 48px;
	}
	&_price_old {
		color: #999999;
		font-family: "Muller Regular";
		font-size: 26px;
		text-decoration: line-through;
		margin-bottom: 4px;
	}
	&_right {
		float: right;
		&>* {
			display: inline-block;
			vertical-align: middle;
		}
	}
	&_option {
		margin-right: 20px;
		font-size: 21px;
		span {
			color: $color-main;
		}
	}
	.uk-panel-box {
		font-size: 14px;
		padding: 21px 20px;
		min-height: 120px;
		margin-bottom: 40px;
		position: relative;
		@include border-radius(5px);
	}
	.uk-panel-title {
		font-family: "Muller Bold";
		font-size: 18px;
		margin-bottom: 5px;
	}
	.uk-panel-box-primary {}
	.uk-description-list {
		padding-top: 10px;
	}
}


// First form =================================================================
.form__line {
	background: image-url('form-bg.jpg') 0 0 no-repeat;
	background-size: cover;
	color: #fff;
	margin: 14px 0 0;
	height: 480px;
	.uk-form {
		background: image-url('form-bg.png') 0 0 no-repeat;
		background-size: cover;
		padding: 84px 40px 40px;
		max-width: 620px;
		text-align: center;
		position: relative;
		top: -60px;
		margin: 0 auto;
		@include border-radius(6px);
	}
	.form__icon {
		width: 95px;
		height: 60px;
		background: image-url('sofa-icon.svg') no-repeat center center;
		background-size: contain;
		margin-bottom: -10px;
		display: inline-block;
	}
	&_title {
		color: #ffffff;
		font-size: 28px;
		text-transform: uppercase;
		margin-bottom: 17px;
	}
	&_subtitle {
		font-family: "Muller Light";
		font-size: 16px;
		text-transform: uppercase;
		max-width: 350px;
		display: inline-block;
		margin-bottom: 55px;
	}
	label {
		font-size: 14px;
		font-family: "Muller Light";
		margin-bottom: 6px;
		display: block;
		text-align: left;
	}
	input[type=text] {
		// height: 49px;
		padding: 14px 10px;
		width: 100%;
	}
	select {
		padding: 14px 10px;
		height: auto;
		text-align: left;
		width: 100%;
		border: none;
	}
	.uk-grid {}
	.uk-grid-medium {}
	.uk-width-1-2 {}
	.uk-form-field {
		margin-bottom: 24px;
	}
	.uk-button {
		padding: 16px;
		margin-top: 4px;
		font-family: "Muller Bold";
		font-size: 18px;
	}
}

// Materials ==================================================================
.materials {
	background: image-url('mat-bg.png') no-repeat top right;
	margin-bottom: 5.4%;
	padding-top: 12%;
	&__description {
		float: left;
		width: 233px;
		margin-right: 30px;
		line-height: 1.45;
		padding-top: 11px;
	}
	&__box {
		overflow: hidden;
		padding-top: 16px;
	}
	&__name {
		position: absolute;
		z-index: 2;
		bottom: 13px;
		left: 57px;
		font-size: 20px;
	}
	.uk-container {}
	.section__title {
		margin-bottom: 6px;
		line-height: 1;
	}
	.section__subtitle {
		font-size: 20px;
		line-height: 1.4;
		margin-top: 0;
		margin-bottom: 51px;
		max-width: 840px;
	}
	.uk-tab {
		margin-bottom: 26px;
	}
	.uk-switcher {
	}
	.uk-panel {
		position: relative;
		margin-bottom: 35px;
		img {
			display: block;
			@include border-radius(7px);
			@include trs(.3s);
			cursor: pointer;
			&:hover {
				box-shadow: 0 0 19px transparentize($color-main, .5);
			}
		}
	}

}

// Used =======================================================================
.used {
	margin-bottom: 9.1%;
	.uk-container {}
	.uk-container-center {}
	.section__title {
		margin-bottom: 48px;
	}
	.uk-grid {}
	&__item {
	}
	&__name {
		font-family: "Muller Regular";
		font-size: 24px;
		margin-bottom: 25px;
		text-align: center;
	}
}

// Reccomend ==================================================================
.reccomend {
	padding: 6.3% 0 4.6%;
	background-color: #f2f2f2;
	.section__title {
		color: $color-main;
		margin-bottom: 34px;
	}
	.reccomend__text {
		font-size: 18px;
		line-height: 1.7;
		max-height: 270px;
		overflow: hidden;
		max-width: 1336px;
		&.open {
			max-height: none;
		}
	}
	.reccomend__more {
		display: block;
		max-width: 226px;
		margin: 30px auto;
		color: #29abe2;
		font-size: 21px;
		@include trs(.2s);
		i {
			display: inline-block;
			vertical-align: middle;
			margin-left: 15px;
			@include trs(.2s);
		}
		&:hover {
			color: $color-success;
			text-decoration: none;
		}
		&.open {
			color: $color-success;
			i {
				@include transform(rotate(180deg));
			}
		}
	}
	.column {}
	.uk-text-danger {}
	.uk-icon-angle-down {}
}

// Gift =======================================================================
.gift {
	padding: 7% 0 4%;
	.uk-container {}
	.uk-container-center {}
	.section__title {
		color: $color-main;
		padding-left: 122px;
		position: relative;
		&:before {
			content: '';
			background: image-url('percent-title.svg') no-repeat center center;
			background-size: contain;
			display: block;
			width: 81px;
			height: 98px;
			position: absolute;
			top: 9px;
			left: 0;
		}
	}
	.uk-text-danger {}
	.uk-grid {}
	.uk-grid-small {}
	.uk-grid-width-1-3 {}
	.sofas__grid {
		margin-top: 50px;
		&_wrapp {}
		&_item {}
		&_img {}
		&_description {
			height: 75px;
		}
		.sofas__grid_name {
			margin-bottom: 16px;
			text-transform: inherit;
		}
		&_price {}
		&_price_old {}
		&_color {
			color: $color-main;
			font-size: 14px;
		}
		&_color_title {
			font-size: 12px;
			color: #808080;
		}
		&_size {}
		&_size_item {}
		&_size_name {}
	}
	.uk-button {}
	.uk-button-success {}
}

// How work ===================================================================
.how__work {
	padding: 7.4% 0 7%;
	text-align: center;
	background-color: $color-success;
	.uk-container {}
	.uk-container-center {}
	.section__title {
		color: $color-main;
		margin-bottom: 40px;
	}
	.uk-grid {}
	.uk-grid-width-1-3 {}
	.uk-text-center {}
	&_grid {
		counter-reset: li;
		list-style: none;
		position: relative;
		margin-bottom: 15px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			height: 4px;
			background-color: $color-danger;
			width: 66%;
			left: 18%;
			top: 90px;
			z-index: 0;
		}
	}
	img {
		@include box-shadow(0 10px 28px rgba(0, 0, 0, 0.3));
		border-radius: 6px;
	}
	&_item {
		font-size: 21px;
		margin-bottom: 48px;
		&:before {
			content: '';
		    content: counter(li);
		    counter-increment: li;
		    display: block;
		    color: $color-danger;
			font-family: "Muller Bold";
			font-size: 38px;
			margin-bottom: 13px;
		}
		p {
			font-size: 21px;
			margin: auto;
			max-width: 325px;
			line-height: 1.4;
		}
	}
	&_point {
		width: 64px;
		height: 64px;
		background: image-url('how-point.png') no-repeat center center;
		background-size: contain;
		margin-bottom: 23px;
		margin: 0 auto 23px;
		position: relative;
	}
	&_name {
		font-family: "Muller Bold";
		font-size: 28px;
		margin-top: 25px;
		margin-bottom: 5px;
	}
	.uk-button {
		padding: 23px;
		font-size: 24px;
		max-width: 380px;
		width: 100%;
		@include box-shadow(0 10px 28px rgba(0, 0, 0, 0.3));
	}
}

// Delivery ===============================================================
.delivery {
	padding: 6% 0 6.3%;
	.uk-container {}
	.uk-container-center {}
	.section__title {
		color: $color-main;
		text-align: center;
		margin-bottom: 82px;
	}
	&__grid {

	}
	&__item {
		margin-bottom: 30px;
		&:first-child {
			width: 55%;
		}
		&:last-child {
			width: 45%;
		}
	}
	&__row {
		@extend %clear_a;
		margin-bottom: 50px;
	}
	&__img {
		float: left;
		margin-right: 40px;
	}
	&__descr {
		overflow: hidden;
	}
	&__title {
		font-family: "Muller Bold";
		font-size: 32px;
		margin-bottom: 30px;
	}
	&__list {
		font-size: 21px;
		li {
			margin-bottom: 10px;
		}
	}
	&__form {
		@include border-radius(10px);
		background-color: $color-success;
		padding: 41px 41px 33px;
		text-align: center;
		@include box-shadow(0 10px 28px rgba(0, 0, 0, 0.3));
		&_title {
			font-size: 28px;
			margin-bottom: 45px;
		}
		&_sub {
			font-size: 14px;
			color: #4d4d4d;
			a {
				color: $color-main;
			}
		}
		input[type=text] {
			padding: 15px 21px;
			font-size: 16px;
			border: 1px solid #b4b4b4;
			margin-bottom: 18px;
			width: 100%;
			@include border-radius(5px);
		}
		.uk-button {
			font-size: 18px;
			padding: 17px;
			width: 100%;
			margin-top: 20px;
			margin-bottom: 16px;
		}
	}
	.uk-grid {}
	.uk-grid-width-1-2 {}
	.uk-list {}
	.uk-text-muted {}
	.uk-form {}
	.uk-button {
		background-color: #4d4d4d;
		color: #ffffff;
		&:hover {
			background-color: lighten(#4d4d4d, 10%);
		}
		&:active {
			background-color: darken(#4d4d4d, 10%);
		}
	}
}

// Reason =================================================================
.reason {
	background: image-url('reason-bg.jpg') no-repeat center center;
	padding: 3.5% 0 4.5%;
	color: #ffffff;
	background-size: cover;
	.uk-container {
		@extend %clear_all;
	}
	.uk-container-center {}
	&__title {
		color: #ffffff;
		border: 2px solid #fff;
		display: block;
		margin-top: 318px;
		padding: 36px 26px;
		font-size: 38px;
		font-family: "Muller Bold";
		@include border-radius(5px);
		position: relative;
		width: 31%;
		float: left;
		line-height: 1.1;
	}
	&__wrapp {
		margin-top: 22px;
		overflow: hidden;
		background: image-url('line.png') no-repeat left center;
		padding-left: 22.4%;
		padding-top: 43px;
	}
	&__item {
		@extend %clear_a;
		display: table;
		font-size: 21px;
		width: 100%;
		margin-bottom: 50px;
		max-width: 500px;
	}
	&__img {
		padding-right: 22px;
		display: table-cell;
		width: 137px;
		position: relative;
	}
	&__text {
		display: table-cell;
		vertical-align: middle;
	}
	&__name {
		color: $color-success;
		font-family: "Muller Bold";
		font-size: 32px;
		margin-bottom: 9px;
	}
}

// Review =====================================================================
.review {
	padding: 5.7% 0 10.9%;
	.section__title {
		color: $color-main;
		text-align: center;
		margin-bottom: 41px;
	}
	&__slider_item {
		text-align: center;
		font-family: "Muller Regular Italic";
		font-size: 18px;
		padding: 0 40px;
		&:after,&:before {
			content: '';
			background-size: contain;
			width: 120px;
			height: 80px;
			position: absolute;
			opacity: .2;
		}
		&:after {
			background-image: image-url('quote-bottom.svg');
			bottom: 4px;
			left: 57px;
		}
		&:before {
			background-image: image-url('quote-top.svg');
			top: 73px;
			right: 60px;
		}
		img {
			width: 100px;
			height: 100px;
			@include border-radius(50%);
			overflow: hidden;
			display: inline-block;
			margin-bottom: 19px;
		}
		p {
			display: inline-block;
			margin: 0;
			padding: 0 100px;
		}
	}
	&__rate {
		color: #22b573;
		font-family: "Muller Bold";
		font-size: 14px;
		margin-bottom: 30px;
	}
	&__date {
		color: #999999;
		font-size: 12px;
		margin-top: 68px;
		margin-bottom: 10px;
	}
	.uk {
		&-container {}
		&-slider {
			&-slider-container {}
		}
		&-slidenav {
			position: absolute;
			top: 51%;
			&:hover {
				opacity: .6;
			}
			&-previous {
				left: 40px;
				&:before {
					content: image-url('prev.png');
				}
			}
			&-next {
				right: 40px;
				&:before {
					content: image-url('next.png');
				}
			}
		}
	}
}

// Form 3 =====================================================================
.form__line_3 {
	padding: 4.3% 0 6.3%;
	background: image-url('form_3.jpg') no-repeat center center;
	background-size: cover;
	.uk-container {}
	.uk-container-center {}
	.section__title {
		text-align: center;
		margin-bottom: 38px;
	}
	.uk-text-contrast {}
	.uk-grid {}
	input[type=text] {
		font-size: 16px;
		padding: 14px;
		width: 100%;
		border: none;
		border: 1px solid #b4b4b4;
		@include border-radius(6px);
		@include box-shadow(0 10px 28px rgba(0, 0, 0, 0.3));
	}
	.uk-button {
		width: 100%;
		font-size: 18px;
		padding: 16px;
		@include box-shadow(0 10px 28px rgba(0, 0, 0, 0.3));
	}
}

// Questions ==================================================================
.question {
	padding: 6.3% 0 5.2%;
	.uk-container {}
	.uk-container-center {}
	.section__title {
		color: $color-main;
		text-align: center;
		margin-bottom: 39px;
	}
	.uk {
		&-nav {
			&-parent-icon {

			}
			&-sub {
				padding: 30px 20px;
				line-height: 1.3;
			}
		}
		&-parent {
			margin-bottom: 20px;
			&>a {
				@include border-radius(5px);
				@include trs(.3s);
				position: relative;
				color: $color-main;
				font-family: "Muller Regular";
				font-size: 21px;
				padding: 19px 21px 18px;
				@include box-shadow(0 5px 15px rgba(0, 0, 0, 0.3));
				&:hover {
					background-color: #e6e6e6;
					color: $color-main;
					@include box-shadow(none);
				}
				&:after {
					content: '\f107';
					font-size: 52px;
					width: auto;
					position: absolute;
					right: 22px;
					top: 50%;
					margin-top: -34px;
					margin-right: 0;
					color: #4c4c4c;
				}
			}
			&.uk-open {
				margin-bottom: 0;
				&>a {
					background-color: $color-success;
					@include box-shadow(none);
					&:hover {
						background-color: lighten($color-success, 10%);
					}
					&:after {
						content: "\f106";
					}
				}
			}
		}
	}
}

// Contacts ==================================================================
.contact {
	background-color: #f2f2f2;
	position: relative;
	@extend %clear_a;
	.section__title {
		color: $color-main;
		margin-bottom: 59px;
	}
	&__wrapp {
		width: 50%;
		float: left;
	}
	&__container {
		max-width: 703px;
		width: 100%;
		float: right;
		padding: 16% 35px 16%;
	}
	&__map {
		width: 50%;
		position: absolute;
		height: 100%;
		width: 50%;
		left: 50%;
		// background-color: #000;
		ymaps {
			// opacity: .8;
		}
	}
	&__list {
		font-size: 21px;
		max-width: 440px;
		dt {
			font-family: "Muller Bold";
			width: 45%;
			color: $color-main;
		}
		dl {
			overflow: hidden;
			text-align: right;
			margin-bottom: 25px;
			a {
				color: $color-main;
			}
		}
	}
	&__descr {
		font-size: 18px;
		margin-bottom: 46px;
	}
	.uk-description-list {}
	.soc {
		margin-bottom: 42px;
		a {
			font-size: 40px;
			margin-right: 14px;
		}
	}
	.copy {
		color: #808080;
		font-size: 16px;
	}
}

/* Responsive styles
----------------------------------------------------------------------------- */
// max-width: 1200px ===========================================================
@media (max-width: 1200px) {
}

// max-width: 960px ===========================================================
@media (max-width: 960px) {
	
}

// max-width: 760px ===========================================================
@media (max-width: 767px) {
	
}

// max-width: 480px ===========================================================
@media (max-width: 480px) {
	
}


