/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

// Compass extention 
@import 'compass/css3';

// Global variables
// ========================================================================

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Lora);

@font-face {
  font-family: 'Muller Bold';
  src: url('../fonts/MullerBold.eot');
  src: url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff'),
       url('../fonts/MullerBold.ttf') format('truetype'),
       url('../fonts/MullerBold.svg#MullerBold') format('svg'),
       url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Medium';
  src: url('../fonts/MullerMedium.eot');
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
       url('../fonts/MullerMedium.woff') format('woff'),
       url('../fonts/MullerMedium.ttf') format('truetype'),
       url('../fonts/MullerMedium.svg#MullerMedium') format('svg'),
       url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Regular Italic';
  src: url('../fonts/MullerRegularItalic.eot');
  src: url('../fonts/MullerRegularItalic.woff2') format('woff2'),
       url('../fonts/MullerRegularItalic.woff') format('woff'),
       url('../fonts/MullerRegularItalic.ttf') format('truetype'),
       url('../fonts/MullerRegularItalic.svg#MullerRegularItalic') format('svg'),
       url('../fonts/MullerRegularItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Light';
  src: url('../fonts/MullerLight.eot');
  src: url('../fonts/MullerLight.woff2') format('woff2'),
       url('../fonts/MullerLight.woff') format('woff'),
       url('../fonts/MullerLight.ttf') format('truetype'),
       url('../fonts/MullerLight.svg#MullerLight') format('svg'),
       url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Regular';
  src: url('../fonts/MullerRegular.eot');
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
       url('../fonts/MullerRegular.woff') format('woff'),
       url('../fonts/MullerRegular.ttf') format('truetype'),
       url('../fonts/MullerRegular.svg#MullerRegular') format('svg'),
       url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Black';
  src: url('../fonts/MullerBlack.eot');
  src: url('../fonts/MullerBlack.woff2') format('woff2'),
       url('../fonts/MullerBlack.woff') format('woff'),
       url('../fonts/MullerBlack.ttf') format('truetype'),
       url('../fonts/MullerBlack.svg#MullerBlack') format('svg'),
       url('../fonts/MullerBlack.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


// Icon fonts
@font-face {
  font-family: 'meb96';
  src:  url('../fonts/meb96.eot?ph4iar');
  src:  url('../fonts/meb96.eot?ph4iar#iefix') format('embedded-opentype'),
    url('../fonts/meb96.ttf?ph4iar') format('truetype'),
    url('../fonts/meb96.woff?ph4iar') format('woff'),
    url('../fonts/meb96.svg?ph4iar#meb96') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'meb96' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-insta:before {
  content: "\e901";
}
.icon-vk:before {
  content: "\e902";
}
.icon-cargo:before {
	content: url('../img/cargo.svg');
}
.icon-star-o:before {
	content: url('../img/star-o.svg');
}
.icon-percent-o:before {
	content: url('../img/percent-o.svg');
}


// Variables ==========================================================
	// Example for button 
	// --------------------------
	// for html - btn__primary, btn__success etc...
	// --------------------------
	// for scss 
	// .btn{
	// 	@each $status, $color in $el_bg_colors {
	// 		&__#{$status} {
	// 			background: $color;
	// 		}
	// 	}
	// }
$main_font_family:								'Muller Regular';

$color-main:									#000000;
$color-primary:    								#6478c8;
$color-danger:     								#ca1f1f;
$color-success:									#fac85a;
$color-warning:									#aae090;
$color-muted:									#999999;

$el-bg-colors: (
	primary: $color-primary, // color for .element__primary
	success: $color-success, // color for .element__success
	muted: $color-muted, // color for .element__info
	warning: $color-warning, // color for .element__warning
	danger: $color-danger, // color for .element__danger
);

// Mixin =======================================================================

// Style for columns text 
	// Используется для многоколоночного адаптивного текста, а также для списков
	// $width - минимальная ширина колонок
	// $count - количество колонок (при уменьшении экрана меняются автоматически в зависимости от первого значения)
	// $padding - отступ между колонками
	// $divider_widh - ширина разделительной линии между колонками
	// $divider_line - стиль разделительной линии 
	// $divider_color - цвет разделительной линии 
	// Лишнее можно просто закомментировать
	// ---------------------------------
	// Example for html 
	// div class="column"
	// ---------------------------------
	// Example for scss 
	// .column {
	// 	@include columns-text(300px, 3, 40px, 1px, solid, #000);
	// }
@mixin columns-text($width, $count, $padding, $divider_widh, $divider_line, $divider_color) {
	@include columns($width $count); // Count and width or columns
	@include column-gap($padding); // Padding for columns
	@include column-rule($divider_widh $divider_line $divider_color); // Divider for columns
}


// Float el clear
%clear_a {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

%clear_b {
	&:before {
		content: '';
		display: table;
		clear: both;
	}
}

%clear_all {
	@extend %clear_a;
	@extend %clear_b;
}

// Transition speed for element
@mixin trs($trs_speed) {
	@include transition(all $trs_speed);
}


// Placeholder for input
@mixin placeholder {
	&::-webkit-input-placeholder {@content};
	&:-moz-placeholder           {@content};
	&::-moz-placeholder          {@content};
	&:-ms-input-placeholder      {@content}; 
}


// End @mixin and variables

// Reset brouser styles ========================
* {
	@include box-sizing(border-box);
}

body { 
	font: 18px $main_font_family;
	line-height: 1.2;
}

b, strong {
	font-family: "Muller Bold";
}

// Input text and textarea ================================================
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime], 
textarea {
	background-color: white;
	border: 1px solid #ccc;
	padding: 6px 15px;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	font-family: $main_font_family;
	@include border-radius(5px);
	@include trs(0.3s);
	&:hover {
	}
	&:focus {
		border: 1px solid #bebebe;
		background-color: #f6f6f6;
		@include placeholder {
			color: red;
		}
	}
	&.input_error {
		background-color: #fff0f0;
		border: 1px solid red;
	}
	// Placeholder for input +++++++++++++++
	@include placeholder {
		color: #b3b3b3;
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
}

input[type=checkbox]:not(:disabled),
input[type=radio]:not(:disabled) {
    cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #aaa;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: 0;
    background: 0 0;
    text-align: center;
    position: relative;
}

input[type=radio] {
    border-radius: 50%;
}

input[type=checkbox]:before,
input[type=radio]:before {
    display: block;
}

input[type=radio]:checked:before {
    content: '';
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #000;
}

input[type=checkbox]:checked:before,
input[type=checkbox]:indeterminate:before {
    content: "\2714";
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    line-height: 13px;
    color: #000;
}

input[type=checkbox]:indeterminate:before {
    content: "\f068";
}

input[type=checkbox]:disabled,
input[type=radio]:disabled {
    border-color: #ddd;
}

input[type=radio]:disabled:checked:before {
    background-color: #aaa;
}

input[type=checkbox]:disabled:checked:before,
input[type=checkbox]:disabled:indeterminate:before {
    color: #aaa;
}

// Style for button and pseudo button for input and link
.uk-button {
	font-size: 16px;
	font-weight: 300;
	padding: 5px 15px 7px;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	line-height: 1;
	@include border-radius(5px);
	@include trs(0.3s);
	&:hover {
	}
	@each $status_el, $color_el_bg in $el_bg_colors {
		&-#{$status_el} {
			background-color: $color_el_bg;
			&:hover {
				background-color: lighten($color_el_bg, 10%);
			}
			&:active {
				background-color: darken($color_el_bg, 10%);
			}
		}
	}
	&-success {
		color: $color-main;
	}	
}

.uk-text {
	@each $status_el, $color_el_bg in $el_bg_colors {
		&-#{$status_el} {
			color: $color_el_bg;
		}
	}	
}

.uk-badge {
	@each $status_el, $color_el_bg in $el_bg_colors {
		&-#{$status_el} {
			background-color: $color_el_bg;
			color: $color-main;
			&:hover {
				background-color: lighten($color_el_bg, 10%);
			}
			&:active {
				background-color: darken($color_el_bg, 10%);
			}
		}
	}
	&-primary {
		color: #fff;
	}
	i {
		display: block;
	}
}

.uk-tab {
	border: none;
	&>li {
		margin-right: 8.3%;
		position: relative;
		&:hover {
			background-color: transparent;
		}
		&.uk-active {
			&>a {
				color: $color-main;
				&:after {
					opacity: 1;
				}
			}
		}
		&>a {
			color: $color-main;
			font-family: "Muller Medium";
			font-size: 28px;
			border: none !important;
			padding: 0 0 19px;
			&:after {
				content: '';
				display: block;
				height: 4px;
				background-color: $color-danger;
				position: absolute;
				width: 100%;
				bottom: 0;
				opacity: 0;
			}
			&:hover {
				background-color: transparent;
			}
		}
	}
}

// Style for columns text
.column {
	@include columns-text(300px, 3, 40px, 0px, solid, #000);
}

a {
	&:hover {
		@include trs(0.3s);
	}
}

// Social link
.soc {
	float: left;
	a {
		display: inline-block;
		text-decoration: none;
		@include trs(0.3s);
		&:hover {
			opacity: .8;
		}
	}
}

.copy {
	float: right;
}

/* Header
 ----------------------------------------------------------------------------- */
.header {
	background-color: #ccc;
	@extend %clear_a;
}

.logo {
	background-color: #ddd;
	float: left;
	width: 150px;
}

/* Navbar
-------------------------------------------------------------------------------*/
.uk-navbar {
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	&-brand {
		margin-top: 30px;
		margin-left: 35px;
	}
	&-nav {
		margin-top: 41px;
		&>li {
			float: none;
			display: inline-block;
			&:hover {
				a {
					background-color: transparent;
					color: #ffffff;
				}
			}
			&>a {
				color: #ffffff;
				cursor: pointer !important;
				position: relative;
				height: auto;
				line-height: 1.3;
				padding: 0 0 7px;
				margin: 5px 15px;
				font-family: "Muller Medium";
				font-size: 18px;
				&:before {
					content: '';
					display: block;
					position: absolute;
					height: 2px;
					width: 0;
					bottom: 0;
					left: 50%;
					opacity: 0;
					background-color: $color-danger;
					@include trs(0.3s);
				}
				&:hover,&:active,&.active {
					background-color: transparent;
					color: #ffffff;
					&:before {
						opacity: 1;
						width: 100%;
						left: 0;
					}
				}
				&:focus {
					background-color: transparent;
					color: #ffffff;
				}
			}
		}
	}
	&-center {
		overflow: hidden;
	}
	&-flip {
		margin-top: 28px;
		margin-right: 50px;
		.uk-button {
			position: relative;
			color: $color-main;
			font-size: 13px;
			padding: 14px;
			width: 100%;
			font-family: "Muller Medium";
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: -7px;
				right: 2px;
				border: 8px solid transparent;
				border-top-color: $color-success;
				@include trs(.3s);
				@include transform(rotate(-45deg));
			}
			&:hover {
				&:before {
					content: '';
					// top: -6px;
					border-top-color: lighten($color-success, 10%);
				}
			}
			&:active {
				&:before {
					content: '';
					border-top-color: darken($color-success, 10%);
				}
			}
		}
	}
	&-toggle {
	}
	&-tel {
		color: #ffffff;
		font-family: "Muller Bold";
		font-size: 21px;
		display: block;
		margin-bottom: 7px;
		&:hover {
			text-decoration: none;
			opacity: .7;
		}
	}
}

/* Middle
 ----------------------------------------------------------------------------- */
.uk-container {
	max-width: 1406px;
	@extend %clear_a;
}

.section {
	&__title {
		color: $color-danger;
		font-family: "Muller Black";
		font-size: 48px;
		text-transform: uppercase;
		margin-bottom: 31px;
		line-height: 1.3;
	}
}


// First ======================================================================
.first__screen {
	background: image-url('f-bg.jpg') center no-repeat;
	background-size: cover;
	h1 {
		color: #ffffff;
		font-family: "Muller Black";
		max-width: 750px;
		line-height: 1.4;
		margin-bottom: 4%;
		font-size: 48px;
		text-transform: uppercase;
		span {
			font-family: "Muller Regular";
		}
	}
	.uk-button-danger {
		color: #ffffff;
		font-size: 20px;
		position: relative;
		padding: 20px;
		text-align: left;
		margin-bottom: 25px;
		line-height: 1;
		width: 100%;
		max-width: 440px;
		i {
			float: right;
		}
	}
	&_sub {
		font-size: 24px;
		color: #ffffff;
	}
	.soc {
		position: absolute;
		right: 38px;
		bottom: 40px;
		a {
			color: #fff;
			font-size: 30px;
			margin: 5px 8px;
			&:hover {
				color: $color-danger;
			}
		}
	}
}

// Sofas ======================================================================
.sofas {
	.fp-tableCell {
		vertical-align: top;
	}
	&__top {
		background-color: $color-success;
		.uk-grid {
			max-width: 1192px;
		}
		&_item {
			display: table;
		}
		&_img {
			padding-right: 35px;
			display: table-cell;
			width: 37%;
			img {
				width: 100%;
			}
		}
		&_text {
			font-family: "Muller Regular";
			font-size: 21px;
			display: table-cell;
			vertical-align: middle;
		}
		&_name {
			font-size: 28px;
			font-family: "Muller Bold";
			margin-bottom: 10px;
		}
		.uk-container {
			padding: 4% 0 3.1%;
		}
	}
	.uk-container {}
	&__list {
		margin: 6.5% 0;
	}
	&__grid {
		margin-top: 56px;
		margin-left: -20px;
		&_wrapp {
			padding-left: 20px;
			margin-bottom: 35px;
		}
		&_item {
			z-index: 1;
			position: relative;
			@include trs(.2s);
			@include border-radius(5px);
			box-sizing: content-box;
			&:hover {
				box-shadow: 0 0 20px transparentize($color-main, .5);
				margin: -20px;
				padding: 20px;
				z-index: 2;
				// position: absolute;
				.sofas__grid_description {
					position: absolute;
					left: 0;
					padding: 0 20px 20px;
					height: auto;
					z-index: 3;
					box-shadow: 0 0 20px transparentize($color-main, .5);
					overflow: inherit;
					&:before {
						content: '';
						// width: 100%;
						left: 0;
					}
				}
			}
		}
		&_img {
			position: relative;
			padding-bottom: 107.6%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
			}
			.uk-badge {
				font-family: "Muller Medium";
				font-size: 12px;
				padding: 10px;
				position: absolute;
				right: 0;
				&+.uk-badge {
					margin-right: 80px;
				}
				i {
					height: 24px;
					margin-bottom: 6px;
				}
			}
		}
		&_description {
			height: 100px;
			width: 100%;
			overflow: hidden;
			background-color: #fff;
			&:before {
				content: '';
				@include trs(.2s);
				position: absolute;
				width: 100%;
				height: 16px;
				top: -16px;
				background-color: #fff;
				display: block;
			}
		}
		&_name {
			font-family: "Muller Bold";
			font-size: 21px;
			text-transform: uppercase;
			margin-bottom: 1px;
		}
		&_sub {
			color: #808080;
			font-size: 14px;
			margin-bottom: 6px;
		}
		&_price {
			color: $color-danger;
			font-family: "Muller Bold";
			font-size: 28px;
			margin-bottom: 17px;
			&_old {
				font-family: "Muller Regular";
				font-size: 16px;
				text-decoration: line-through;
				color: $color-muted;
				margin-right: 10px;
			}
		}
		&_color {
			color: #808080;
			font-family: "Muller Regular";
			font-size: 12px;
			margin-bottom: 22px;
			&_item {
				display: inline-block;
				width: 36px;
				height: 36px;
				@include border-radius(4px);
				margin-right: 8px;
			}
			&_title {
				margin-bottom: 8px;
			}
		}
		&_size {
			// margin-top: 10px;
			margin-bottom: 14px;
			&_item {
				font-size: 14px;
			}
			&_name {
				color: #808080;
				font-size: 12px;
			}
		}
		.uk-button-success {
			width: 100%;
			font-size: 21px;
			padding: 14px;
			margin-top: 10px;
		}
	}
}

.uk-badge {
	padding: 5px;
	text-align: center;
	width: 60px;
	height: 60px;
	@include border-radius(5px);
}

.uk-switcher {}


/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	position: relative;
	@extend %clear_all;
}

/* Responsive styles
----------------------------------------------------------------------------- */
// max-width: 1200px ===========================================================
@media (max-width: 1200px) {
}

// max-width: 960px ===========================================================
@media (max-width: 960px) {
	
}

// max-width: 760px ===========================================================
@media (max-width: 767px) {
	
}

// max-width: 480px ===========================================================
@media (max-width: 480px) {
	
}


